*{
    padding: 0px;
    margin: 0px;
    background-color:hsl(217, 54%, 11%) ;
}

.Bigbox{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    width:100%;
}
.Smallbox{
    width: 300px;
    background: hsl(216, 50%, 16%);
    height: 300px;
    border-radius: 1%;
    top: 50px;
    right: 60px;
    padding: 25px;
    margin: 25px;
    justify-content:center;
    /* align-items:center; */
    
    
}
.Smallbox p {
    background: none;
    color: White: hsl(0, 0%, 100%);
    font-size:18px;
    border-radius:4%
}
.image img{
    width: 200px;
    height: 150px;
    border-radius: 4%;
    
}