@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    padding: 0px;
    margin: 0px;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}

.Bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.Smallbox {
    width: 300px;
    background: hsl(216, 50%, 16%);
    padding: 25px;
    margin: 25px;
    color: white;
    border-radius: 4%;
    /* justify-content:center; */
    /* align-items:center; */
}

.Smallbox p {
    background: none;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

.Smallbox h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    padding: 12px 0;
    background: none;
}

.image img {
    background: none;
    border-radius: 4%;
    max-width: 100%;
    display: block;
}
.asset{
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px  hsl(215, 32%, 27%) solid;
    
}
.eth{
    background: none;
    color:hsl(178, 100%, 50%);
    gap: 8px;
    align-items: center;
    display: flex;
    
}
.eth img{
    background: none;
    align-items: center;
    
}
.days{
    background: none;
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    gap: 8px;
}
.days img{
    background: none;
    
    
}
.lower{
    background: none;
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: hsl(215, 51%, 70%);
    padding: 10px 0;
    
}
.lower img{
    border-radius: 50%;
    width: 40px;
    border: 1px solid white;
}
.name{
  background: none;  
  color: white;
}

.name:hover{
    color: cyan;
}